extends layout

block append scripts
  script(src="/js/admin.js")

block layout-content
  main.flex-shrink-0
    .container.vh-100
      if messages
        each message_arr, type in messages
          if type == "error"
            each message in message_arr
              .row
                .col-12
                  .alert.alert-danger.alert-dismissible.fade.show(role="alert") <strong>Error:</strong> #{message}
                    button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")
          if type == "info"
            each message in message_arr
              .row
                .col-12
                  .alert.alert-info.alert-dismissible.fade.show(role="alert") #{message}
                    button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")
      .row.align-items-center.justify-content-center
        .col-auto
          h1 Admin Page               
      .row.justify-content-center
        .col-auto
          h2 Users
      .row
        table.table.table-striped.table-hover(id="user-table")
          thead
            tr
              th(scope="col") Username
              th(scope="col") Email
              th(scope="col") Level
              th(scope="col") Active
              th(scope="col") Sites
          tbody
            each user in users
              - var username = user['username']
              - var email = user['email']
              - var level = user['level']
              - var active = user['active']
              - var sites = user['sites'].join("|")
              tr(data-bs-toggle="modal" data-bs-target="#modal-admin" data-bs-username=username data-bs-email=email data-bs-level=level data-bs-active=active data-bs-sites=sites)
                each val in user
                  td= val
      .row.justify-content-center
        .col-auto
          h2 Add User
      .row.align-items-center
        .col-lg-4
        .col-lg-4
          form(action="/adduser" method="post")
            .row.justify-content-center.py-2
              label.col-lg-3.col-form-label(for="username") Username
              .col-lg-9
                input.form-control(type="text" id="username" name="username" placeholder="Username")
            .row.justify-content-center.py-2
              label.col-lg-3.col-form-label(for="email") Email
              .col-lg-9
                input.form-control(type="text" id="email" name="email" placeholder="ploni@shmoni.com")
            .row.justify-content-center.py-2
              label.col-lg-3.col-form-label(for="password") Password
              .col-lg-9
                input.form-control(type="password" id="password" name="password" placeholder="********")
            .row.justify-content-center.py-2
              .col-auto
                button.btn.btn-primary(type="submit") Create User
        .col-lg-4
          
    .modal(tabindex="-1" id="modal-admin")
      .modal-dialog.modal-dialog-centered
        .modal-content
          form(action="#" method="post" id="modal-update-form")
            .modal-header
              h5.modal-title(id="modal-title") Admin Modal
              button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
              p(id="modal-text") Hello! I am an admin modal
              .row.py-2
                label.col-lg-3.col-form-label(for="modal-email") Email
                .col-lg-9
                  input.form-control(type="text" id="modal-email" name="email")
              .row.py-2
                .col-8
                  h6 Sites
                  .list-group
                    each site in sites
                      - var id = "site-" + site 
                      label.list-group-item
                        input.form-check-input.me-1(type="checkbox" value="" id=id)
                        .
                          #{site}                  
                .col-4
                  .row.py-2
                    .col
                      .form-check.form-switch.float-end
                        input.form-check-input(type="checkbox" id="modal-active" name="active")
                        label.form-check-label(for="modal-active") Active
                  .row.py-2
                    .col
                      button.btn.btn-danger.float-end(type="button" id="modal-delete-user-btn" disabled=true) Delete User
                  .row
                    .col
                      .form-check.form-switch.float-end
                        input.form-check-input.enable-toggle(type="checkbox" id="modal-delete-user-check")
                        label.form-check-label(for="modal-delete-user-check") Enable
            .modal-footer
              button.btn.btn-secondary(type="button" data-bs-dismiss="modal" id="modal-cancel-btn") Cancel
              button.btn.btn-primary(type="submit" id="modal-update-btn" form="modal-update-form") Update  
